.link {
    color: white;
    position: relative;
    top: 650px;
    text-transform: uppercase;
    transition: all .3s;
}

.link:hover {
    text-shadow: 3px 3px rgb(36, 35, 35);
    font-size: 130%;
}
/* 
.link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
.link:hover:after {
    width: 100%;
  } */





.header-content {
    align-items: center;
    background: #333;
    /* display: flex; */
    font-size: 18px;
    height: 100vh;
    width: 100%;
    /* justify-content: center;
    overflow: hidden;
    perspective: 100px;
    position: relative;
    text-align: center; */
    transform-style: preserve-3d;
  }
  
.header-content:before {
    animation: background-slide 3s .2s cubic-bezier(0, .5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), 
        url('./../../assets/img/background.jpg') no-repeat bottom;
    background-size: cover;
    content: "";
    opacity: 0;
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

  .header-content:after {
    /* background: #F9FCFF;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
      right: -5%;
      top: 90%;
    transform-origin: 0 0;
    transform: rotateZ(-4deg); */
  }
  
  .header-title, .header-subtitle {
    color: #fff;
  }

  .header-title {
    position: relative;
    top: 600px
  }

  .header-subtitle {
    margin-bottom: 5rem;
    text-transform: uppercase;
    position: relative;
    top: 625px;
  }

/* Anim */
@keyframes background-slide {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes hover_link {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

