@font-face {
  font-family: 'Arcanista';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/futr.ttf'); /* IE9 Compat Modes */
  src: local('Arcanista'), local('Arcanista'),
       url('./assets/fonts/futr.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arcanista";
  /* background-color: #282c34; */

}

